<section class="row" id="clients">
  <div class="box">
    <h1>Get more <nobr>coaching clients.</nobr></h1>
    <h3>Create a Beautiful Coaching Website, <nobr>Easily & Quickly</nobr></h3><a class="btn btn-mm" href="/designs">Try It For Free</a>
  </div>
</section>
<section class="row" id="time">
  <div class="col-sm-4 col-sm-push-8">
    <div class="box">
      <h1>Save time.</h1>
      <h2>Build Your <nobr>Business, Not</nobr> Just Your Website</h2>
      <p>Our super simple editor lets you set up your site in a snap. And you can make quick changes anytime you want.</p><a class="btn btn-mm" href="/designs">Try It For Free</a>
    </div>
  </div>
  <div class="col-sm-8 col-sm-pull-4">
    <%= image_tag 'time_devices.png', class: 'img-responsive' %>
  </div>
</section>
<section class="row" id="brand">
  <div class="col-sm-12">
    <h1>Build a unique & modern brand</h1>
    <h2>Evolve Your<br>
    Look Over Time<br></h2>
    <p>Our beautiful templates give you a great starting point to build a brand and our customization features help you make it your own. All of our designs are limited edition, and you can always change your design, for free.</p>
  </div>
  <div class="col-sm-4 peekaboo" data-href="/designs/5">
    <span class="label animated hidden">Smooth</span>
    <%= image_tag 'demos/smooth.png' %>
  </div>
  <div class="col-sm-4 peekaboo" data-href="/designs/9">
    <span class="label animated hidden">Sparkle</span>
    <%= image_tag 'demos/sparkle.png' %>
  </div>
  <div class="col-sm-4 peekaboo" data-href="/designs/2">
    <span class="label animated hidden">Petal</span>
    <%= image_tag 'demos/petal.png' %>
  </div>
</section>
<section class="row" id="profit">
  <div class="col-sm-12 col-lg-5 col-lg-push-7">
    <div class="box">
      <h1>Increase profit.</h1>
      <h2>Create Real Value For Local & <nobr>Global Clients</nobr></h2>
      <p>Our branded PDF generator lets you create free downloads to grow your email list and paid downloads to guide your clients <nobr>and grow your revenue</nobr></p><a class="btn btn-mm" href="/designs">Try It For Free</a>
    </div>
  </div>
  <div class="col-sm-12 col-lg-7 col-lg-pull-5 text-center">
    <%= image_tag 'profit.png' %>
  </div>
</section>
<section class="row" id="custom">
  <div class="col-sm-12">
    <div class="span-block left">
      <span>Ongoing Customer Support</span><span class="inline borders inline-left">Design</span><span class="inline borders">Brand Refresh</span><span>Fast Setup</span>
    </div>
    <div class="span-block center">
      <h1>Enjoy a custom experience</h1>
      <h2>But Avoid Upfront Costs</h2>
      <p>Our platform offers the benefits of your own <nobr>web developer</nobr></p>
    </div>
    <div class="span-block right">
      <span>Specialized business features</span><span class="borders">Knowledge of the coaching space</span><span>Easy peasy editor</span>
    </div>
  </div>
  <div class="col-sm-12 bullets">
    <ul>
      <li>Ongoing Customer Support</li>
      <li>Design</li>
      <li>Brand Refresh</li>
      <li>Fast Setup</li>
      <li>Specialized business features</li>
      <li>Knowledge of the coaching space</li>
      <li>Easy peasy editor</li>
    </ul>
  </div>
</section>
<section class="row" id="getstarted">
  <div class="col-sm-6" style="text-align:center">
    <h1>Get Started Today</h1><a class="btn btn-mm" href="/designs">Sign Up For Free</a>
  </div>
  <div class="col-sm-2">
    <ul class="footer-links">
      <li class="header">About Us</li>
      <li>
        <a href="/pricing">Pricing</a>
      </li>
      <li>
        <a href="/faq">FAQ</a>
      </li>
      <li>
        <a href="/privacy">Privacy Policy</a>
      </li>
      <li>
        <a href="/terms">Terms of Service</a>
      </li>
      <li>
        <a href="mailto:help@helpme.co">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-2">
    <ul class="footer-links">
      <li class="header">Follow Us</li>
      <li>
        <a href="https://www.facebook.com/helpme" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.instagram.com/helpme" target="_blank">Instagram</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-2">
    <ul class="footer-links">
      <li class="header">Get Started</li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
